{% load staticfiles %}
{% load bootstrap3 %}
{% load bootstrap_themes %}

<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Crisko URL Shortener</title>
  {% bootstrap_css %}
 {% bootstrap_javascript %}
 {% bootstrap_messages %}
 {% bootstrap_styles theme='superhero' type='css'%}
</head>
<body>
<style media="screen" type="text/css">
 body { padding-top: 60px; padding-left: 10px}
</style>
<nav class="navbar navbar-default navbar-fixed-top">
  <ul class="nav nav-pills">
    {%if user.is_authenticated %}
    <li><a href="{% url 'home_page' user.username %}" class="btn btn-info">Home</a></li>
    <li><a href="{% url 'recent' %}" class="btn btn-warning">Recent</a></li>
    <li><a href="{% url 'add_bookmark' %}" class="btn btn-success">New Bookmark</a></li>
    <li><a href="{% url 'logout' %}" class="btn btn-danger">Logout</a></li>
    <li><span class="btn btn-default">Signed in as {{user.username}} </span></li>

    {% else %}
      <li><a href="{% url 'login' %}" class="btn btn-info">Login</a></li>
      <li><a href="{% url 'register_user' %}" class="btn btn-success">Register</a></li>
      <li><a href="{% url 'recent' %}" class="btn btn-warning">Recent</a></li>
  {% endif %}
    </ul>
  </nav>
  {% block content %}
  {% endblock %}

<footer>A Something Clever Here Production</footer>
</body>
</html>
