{% extends "urlybird/base.html" %} {% block content %}
<h1>Most Recent Bookmarks</h1>
<table class="table">
  <tr>
    <th>User</th>
    <th>Title</th>
    <th>Shortened Bookmark</th>
    <th>Bookmark</th>
    <th>Description</th>
    <th>Date Made</th>
  </tr>
  <tb>
    {% for bookmark in bookmarks %}
    <tr>
      <td><a href="{% url 'user_page' bookmark.user.username%}">{{bookmark.user.username}}</a></td>
      <td>{{bookmark.title}}</td>
        <td>{{bookmark.shorturl}}</td>
        <td><a href="{{bookmark.longurl}}">{{bookmark.longurl}}</a></td>
        {% if bookmark.comment %}
        <td>{{ bookmark.comment }}</td>
        {% else %}
        <td></td>
        {% endif %}
        <td>{{bookmark.modified}}</td>
    </tr>
    {% endfor %}
  </tb>
</table>
    {% endblock %}
