{% extends "urlybird/base.html" %}
{% load bootstrap3 %}
{% block content %}
<h1>Most Recent Bookmarks</h1>
<table class="table table-hover">
  <tr>
    <th>User</th>
    <th>Title</th>
    <th>Shortened Bookmark</th>
    <th>Bookmark</th>
    <th>Description</th>
    <th>Date Made</th>
  </tr>
  <tb>
    {% for bookmark in bookmarks %}
    <tr>
      <td><a href="{% url 'user_page' bookmark.user.username%}">{{bookmark.user.username}}</a></td>
      <td><a href="{% url 'bookmark_info' bookmark.shorturl %}">{{bookmark.title}}</a></td>
        <td><a href="{% url 'clickthrough' bookmark.shorturl %}">{{bookmark.shorturl}}</a></td>
        <td><a href="http://{{bookmark.longurl}}">{{bookmark.longurl}}</a></td>
        {% if bookmark.comment %}
        <td>{{ bookmark.comment }}</td>
        {% else %}
        <td></td>
        {% endif %}
        <td>{{bookmark.modified}}</td>
    </tr>
    {% endfor %}
  </tb>
</table>
{% bootstrap_pagination page_obj %}
    {% endblock %}
