{% extends "urlybird/base.html" %}
{% block content %}
<h1>{{view.user.username}}'s homepage</h1>
<table class="table">
  <tr>
    <th>Title</th><th>Shortened Bookmark</th><th>Bookmark</th><th>Description</th>{% block headers %}{% endblock %}<th>Date Made</th>
  </tr>
  <tb>
    {% for bookmark in bookmarks %}
      <tr>
        <td>{{bookmark.title}}<td>{{bookmark.shorturl}}</td><td><a href="{{bookmark.longurl}}">{{bookmark.longurl}}</a></td>
        {% if bookmark.description %}<td>{{bookmark.description}}</td>{% endif %}
        {% block rows %}{% endblock %}<td>{{bookmark.modified}}</td> 
      </tr>
    {% endfor %}
  </tb>
</table>
{% endblock %}
